<h1>Listing articles</h1>

<table>
  <tr>
    <th>Art title</th>
    <th>Subtitle</th>
    <th>Date posted</th>
    <th>Time posted</th>
    <th>User</th>
    <th>Key stage</th>
    <th>Subject</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.art_title %></td>
    <td><%= article.subtitle %></td>
    <td><%= article.date_posted %></td>
    <td><%= article.time_posted %></td>
    <td><%= article.user_id %></td>
    <td><%= article.key_stage %></td>
    <td><%= article.subject %></td>
    <td><%= article.body %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
